body {
    background-color: #1e1d32;
    font-family: "Roboto", sans-serif;
    font-size: 16px;
    font-weight: 300;
    color: #c2d4f8
}

.padding30{
    padding-left: 30px;
}

.nome_topo {
    font-family: "Agency FB";
    font-size: 80px;
    font-weight: 500;
    line-height: 0px;
    text-transform: uppercase;
    text-align: center;
    color: #3dd0d8;
    text-shadow: black 0.1em 0.1em 0.2em;
}

.sobre {
    font-family: "Agency FB";
    font-size: 40px;
    font-weight: 500;
    line-height: 0px;
    text-align: center;
    color: #3dd0d8;
}

.subtitulo_topo {
    font-family: "Agency FB", sans-serif;
    font-size: 50px;
    font-weight: 500;
    text-align: center;
    color: #3dd0d8;
    text-shadow: -0.1em 0.1em 0.1em black;
}


.centered {
    position: absolute;
    top: 35%;
    left: 50%;
    transform: translate(-50%, -50%);
}

.centro_texto {
    position: absolute;
    top: 65%;
    left: 50%;
    transform: translate(-50%, -50%);
}

.centro_sobre {
    position: absolute;
    top: 65%;
    left: 50%;
    transform: translate(-50%, -50%);
}

.texto_imagem {
    position: relative;
    width: 100%;
}

.inline-block {
    display: inline-block;
    margin-bottom: 10px;
}

.s_title {
    opacity: 0.25;
    font-family: "Agency FB";
    font-size: 56px;
    font-weight: 400;
    line-height: 25px;
    text-transform: uppercase;
}

.s_subtitle {
    color: #fff;
    font-family: "Agency FB";
    font-size: 32px;
    font-weight: 700;
    line-height: 30px;
    text-transform: uppercase;
}

.tit_historia {
    font-family: "Agency FB";
    font-size: 40px;
    text-align: center;
}

.tit_fundadores {
    font-family: "Agency FB";
    font-size: 40px;
}

.margem_top {
    margin-top: 40px;
}

.margem_img {
    margin-top: 60px;
}

.margem_icone {
    margin-top: 280px;
}

.margemBackground {
    margin-top: 60px;
}

.margem_avatar {
    margin-left: 10px;
}

.margem_nomes {
    margin-bottom: 25px;
}

.block {
    display: block;
}

.numero_estilizado {
    text-transform: uppercase;
    font-weight: 700;
    font-size: 80px;
    font-family: "Agency FB";
}

.grad_dir {
    background: linear-gradient(to right, #3dd0d8 0%, rgba(124, 105, 227, 0.64) 100%);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
}

.grad_esq {
    background: linear-gradient(to left, #3dd0d8 0%, rgba(124, 105, 227, 0.64) 100%);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
}
.menu-container-flex {
    background-color: rgba(24, 23, 40, 0.8) !important;
    box-shadow: 3.5px 6.1px 30px rgba(0, 0, 0, 0.57);
    max-height: 150px;
    justify-content: space-between;
    position: fixed;
}


.menu-container-flex {
    background-color: rgba(24, 23, 40, 0.8) !important;
    box-shadow: 3.5px 6.1px 30px rgba(0, 0, 0, 0.57);
    max-height: 150px;
    justify-content: space-between;
    position: fixed;
}

.img-wrap img {
    width: 160px;
    height: 160px;
    display: inline-block;
    border-radius: 50%;
    overflow: hidden;
    position: relative;
    margin-top: 20px;

}

.about-features {
    background-repeat: no-repeat;
    height: 720px;
    width: 100%;
    background-color: #2a1c34;
}

.about-features:before {
    content: '';
    position: absolute;
    left: 0;
    right: 0;
    top: 0;
    bottom: 0;
    opacity: 0.9;
    background: #1e1d32;
}

.imagem_topo {
    background-repeat: no-repeat;
    height: 200px;
    width: 100%;
}

.background-gradient {
    background: linear-gradient(to right, #3dd0d8 0%, rgba(146, 82, 234, 0.64) 100%);
}

.ptb100 {
    padding-top: 100px;
    padding-bottom: 100px;
}

button,
input,
optgroup,
select,
textarea {
    color: inherit;
    font: inherit;
    margin: 0;
}

.title-bl .title {
    position: relative;
    font-family: "Agency FB";
    font-size: 39px;
    font-weight: 700;
    text-shadow: 0 2px 4.8px rgba(30, 29, 50, 0.3);
    text-transform: uppercase;
}

.color-white {
    color: #fff;
}

.register-section .reg-wrapper .subtitle {
    opacity: 0.1;
    left: 0;
    -webkit-transform: translate(0, -50%);
    transform: translate(0, -50%);
}

.title-bl .subtitle {
    position: absolute;
    top: 50%;
    left: 50%;
    z-index: 10;
    -webkit-transform: translate(-50%, -50%);
    transform: translate(-50%, -50%);
    opacity: 0.02;
    text-shadow: 0 2px 4.8px rgba(30, 29, 50, 0.3);
    color: #c2d4f8;
    font-family: "Agency FB";
    font-size: 88px;
    font-weight: 700;
    text-transform: uppercase;
    white-space: nowrap;
    width: 100%;
    overflow: hidden;
    text-overflow: ellipsis;
    /* line-height: 100%; */
}

.register-section .reg-form {
    position: relative;
}

.register-section .reg-form .reg_input input {
    width: 100%;
    background: #fff;
    border-radius: 10px;
    padding: 20px 40px;
    text-transform: uppercase;
    font-style: italic;
    color: #1e1d32;
}

.register-section .reg-form input {
    outline: none;
    border: none;
}

input,
button,
select,
textarea {
    font-family: inherit;
    font-size: inherit;
    line-height: inherit;
}

button,
html input[type="button"],
input[type="reset"],
input[type="submit"] {
    -webkit-appearance: button;
    cursor: pointer;
}

button,
select {
    text-transform: none;
}

button {
    overflow: visible;
}

button,
input,
optgroup,
select,
textarea {
    color: inherit;
    font: inherit;
    margin: 0;
}

* {
    box-sizing: border-box;
}

button {
    appearance: button;
    -webkit-writing-mode: horizontal-tb !important;
    text-rendering: auto;
    color: -internal-light-dark(buttontext, rgb(170, 170, 170));
    letter-spacing: normal;
    word-spacing: normal;
    text-indent: 0px;
    text-shadow: none;
    display: inline-block;
    text-align: center;
    align-items: flex-start;
    cursor: default;
    background-color: -internal-light-dark(rgb(239, 239, 239), rgb(74, 74, 74));
    box-sizing: border-box;
    margin: 0em;
    font: 400 13.3333px Arial;
    padding: 1px 6px;
    border-width: 2px;
    border-style: outset;
    border-color: -internal-light-dark(rgb(118, 118, 118), rgb(195, 195, 195));
    border-image: initial;
}

.fa-envelope:before {
    content: "\f0e0";
}

.fa-envelope:before {
    content: "\f0e0";
}

*:before,
*:after {
    box-sizing: border-box;
}

.register-section .reg-form .reg_submit .fa {
    transition: all 0.3s ease-out;
}

.fsize-14 {
    font-size: 14px;
}

.color-1 {
    color: #3dd0d8;
}

fa {
    display: inline-block;
    font: normal normal normal 14px/1 FontAwesome;
    font-size: inherit;
    text-rendering: auto;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
}

form {
    display: block;
    margin-top: 0em;
}

.register-section .reg-form .reg_submit {
    background: transparent;
    border: none;
    padding: 0;
    position: absolute;
    right: 20px;
    top: 50%;
    -webkit-transform: translateY(-50%);
    transform: translateY(-50%);
}

.text-gradient {
    background: linear-gradient(to right, #3dd0d8 0%, rgba(124, 105, 227, 0.64) 100%);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
}

.fsize-58 {
    font-size: 90px !important;
}

.fa {
    display: inline-block;
    font: normal normal normal 14px/1 FontAwesome;
    font-size: inherit;
    text-rendering: auto;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
}

.mt20 {
    margin-top: 20px;
}

div {
    display: block;
}

.lheight-47 {
    line-height: 47px;
}

.color-white {
    color: #fff;
}

.fweight-700 {
    font-weight: 700;
}

.fsize-40 {
    font-size: 40px;
}

.font-agency {
    font-family: "Agency FB";
}

.fsize-14 {
    font-size: 14px;
}

.uppercase {
    text-transform: uppercase;
}


footer.footer {
    width: 100%;
    -webkit-tap-highlight-color: rgba(0, 0, 0, 0);
    line-height: 1.42857143;
    font-family: "Roboto", sans-serif;
    font-size: 16px;
    font-weight: 300;
    color: #c2d4f8;
    box-sizing: border-box;
    display: block;
    position: relative;
    padding-top: 2%;
    text-align: center;
}

footer.footer::before {
    content: '';
    position: absolute;
    left: 0;
    right: 0;
    top: 0;
    bottom: 0;
    opacity: 0.3;
    background-image: url(/assets/footer-bg.jpg);
    background-repeat: no-repeat;
    background-size: cover;
}

footer .fa {
    color: #fff;
}

footer .social-list {
    display: inline-block;
    vertical-align: middle;
    margin: 0 15px;
}

.footer-top-text {
    font-family: Rajdhani, sans-serif;
    text-transform: uppercase;
    color: #fff;
    font-size: 16px;
    letter-spacing: .8em;
    font-weight: 400;
    margin: 50px 0 50px;
    padding: 0;
}
.nav-margin {
    margin: 0 30px;
}

.footer-bot-social {
    margin: 0px 0 50px;
}

.logo-2gether {
    float: right;
    max-width: 9%;
}

.logo img{
    max-width: 300px;
}

.text-neon {
    display: block;
    height: 100%;
    text-transform: uppercase;
    color: #00e3ef;
    font-family: "Roboto", sans-serif;
    font-weight: 700;
    transition: all 0.3s ease-out;
}


@media (max-width:768px) {
    .logo-2gether {
        width: 70% \9;
        /*Force IE10 and below to size SVG images correctly*/
        max-width: 20%;
    }
}

@media (max-width:411px) {
    .logo-2gether {
        width: 70% \9;
        /*Force IE10 and below to size SVG images correctly*/
        max-width: 30%;
    }
}

@media (max-width:414px) {
    .logo-2gether {
        width: 70% \9;
        /*Force IE10 and below to size SVG images correctly*/
        max-width: 30%;
    }
}

@media (max-width:385px) {
    .logo-2gether {
        width: 70% \9;
        /*Force IE10 and below to size SVG images correctly*/
        max-width: 40%;
    }
}

@media (max-width:345px) {
    .logo-2gether {
        width: 65% \9;
        /*Force IE10 and below to size SVG images correctly*/
        max-width: 65%;
    }
}

@media (max-width:335px) {
    .logo-2gether {
        width: 60% \9;
        /*Force IE10 and below to size SVG images correctly*/
        max-width: 60%;
    }
}

@media (max-width:325px) {
    .logo-2gether {
        width: 55% \9;
        /*Force IE10 and below to size SVG images correctly*/
        max-width: 40%;
    }
}

@media (max-width:315px) {
    .logo-2gether {
        width: 50% \9;
        /*Force IE10 and below to size SVG images correctly*/
        max-width: 50%;
    }
}





.carousel-caption {
    top: 20%;
    bottom: auto;
}

.carousel-btn {
    margin-top: 25px;
    box-shadow: 0px 6px 14px -7px #d2eafa;
    background-color: #ffffff;
    border-radius: 8px;
    display: inline-block;
    cursor: pointer;
    color: #84e4eb !important;
    font-family: Arial;
    font-size: 20px;
    font-weight: bold;
    padding: 17px 64px;
    text-decoration: none;
}

.carousel-btn:hover {
    background-color: #84e4eb;
    color: #ffffff !important;
}

.carousel-game-info {
    width: 100%;
    padding-left: 100px;
    padding-right: 100px;
}

.carousel-cell {
    width: 293px;
    margin-left: 15%;
    margin-right: 10px;
}

.carousel-item img {
    width: 100%;
    height: 100%;
    max-height: 650px;
}