<footer class="footer">
    <div class="container-fluid">
      <div class="row">
        <div class="col-lg-12">
          <div class="logo">
            <img src="/assets/logo2gether.png">
          </div>
        </div>
      </div>
      <div class="row">
        <div class="col-lg-12">
          <div class="footer-top-text">UM TRABALHO FEITO COM DEDICAÇÃO E CARINHO</div>
        </div>
      </div>
      <div class="row">
        <div class="col-lg-12">
          <div class="footer-bot-social">
            <div class="container">
              <div class="row">
                <div class="col-lg-12 table">
                  <div class="social-list table-cell ">
                    <a href="#">
                      <i class="fa fa-facebook" aria-hidden="true"></i>
                    </a>
                  </div>
                  <div class="social-list table-cell ">
                    <a href="#">
                      <i class="fa fa-twitter" aria-hidden="true"></i>
                    </a>
                  </div>
                  <div class="social-list table-cell ">
                    <a href="#">
                      <i class="fa fa-google-plus" aria-hidden="true"></i>
                    </a>
                  </div>
                  <div class="social-list table-cell ">
                    <a href="#">
                      <i class="fa fa-youtube-play" aria-hidden="true"></i>
                    </a>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </footer>