* {
  margin: 0;
  padding: 0;
  font-family: 'Open Sans', sans-serif;

}

html,
body {
  height: 100%;
  
}
/*cabeçalho
 */
header {
  height: 22%;
  position: relative;
  width: 100%;
  z-index: 1;
  
  font-family: 'Open Sans', sans-serif;

}
.menu {
  width: 80%;
  position: relative;
  
  list-style-type: none;
  text-align: left;
  margin: 0;
  padding: 0;
  left: 12%;
  font-family: "Arial";
  border-bottom: solid 1px #222;
}
.menu li {
  display: inline-block;
  font-size: 20px;
  padding: 10px;
}
.menu a {
  text-align: center;

  font-size: 20px;
  padding: 20px;
}

footer {
  bottom: 0;
  padding-bottom: 10%;
  width: 100%;
  height: auto;
  background-color: #adb5bdff;
  padding-left: 0;
  overflow: auto;
  font-family: 'Open Sans', sans-serif;
  
}
.foot_div {
  color: rgb(0, 0, 0);
  float: left;
  text-align: center;
  padding: 0px 40px 0px 40px;
  width: auto;
  
}
.foot_div li {
  list-style-type: none;
}
.social_img {
  width: 45px;
  text-align: center;
  display: block;
  background-color: #fff;
}


.media {
  background-color: #222;
  float: left;
  padding: 4px 4px 4px 4px;
  align-content: stretch;
}

.container1 {
  
  color: #fff;
  background: linear-gradient(#f8f9faff,
  #adb5bdff,
  #6c757dff,
  #495057ff,
  #343a40ff,
  #212529ff);
  position: relative;
  min-height: 100%;
  width: 100%;
  top: 0;
  text-align: center;
  
}
.container2 {
  padding-bottom: 10%;
  color: #222;
  font-weight: bolder;
  text-align: center;
  
}
#carouselExampleControls {
  padding-left: 30%;
  padding-right: 30%;
}

h2 {
  width: 19%;
 
  text-align: center;
  border-bottom: solid 1px #fff;
  left: 40%;
  position: relative;
  
}

.img_parceiros{
  width: 10%;
  padding-right: 22px;
}
p {
  padding: 0 45px;
  text-indent: 15px;
  color:#fff;
}


a:hover,
a:focus {
  color: #222;
  text-decoration: none;
}

a {
  color: #222;
  font-weight: bold;
  display: inline-block;
  text-decoration: none;
  block-size: auto;
  width: 100%;
  height: 100%;
}
.hamburguer{
  display: none;
}

.login {
  position: relative;
  cursor: pointer;
  display: block;
  left: 85%;
  top: 15%;
  width: 10%;
  color: black;
}

.login_exit{
  position: relative;
  cursor: pointer;
  display: block;
  left: 85%;
  top: 15%;
  width: 10%;
  color:white;
}
#login_menu {
  display: none;
}
#login_menu:checked ~ .form_login {
  margin-left: 0;
}
.form_login {
  background: black;
  margin-top: 5px;
  margin-left: 100%;
  transition: all 0.4s;
  position: fixed;
  top: 8%;
  width: 30%;
  
  border-radius: 5%;
}
.row{
  margin-left: -5px;
}

.hamburguer[for="button_menu"] {
  padding: 5px;
  background-color: #222;
  color: #fff;
  font-family: "Arial";
  text-align: center;
  font-size: 30px;
  cursor: pointer;
  width: 50px;
  height: 50px;
  position: fixed;
  top: 0;
  border-radius: 35%;
}

#button_menu {
  display: none;
}
@media (max-width: 1180px) {
  .hamburguer[for="button_menu"] {
    display: block;
  }

  #button_menu:checked ~ .menu {
    margin-left: 0;
  }
  .menu {
    background: #495057ff;
    margin-top: 5px;
    margin-left: -100%;
    transition: all 0.4s;
    position: fixed;
    top: 8%;
    left: 15%;
    border-radius: 32px;
    background: linear-gradient(#f8f9faff,
  #adb5bdff,
  #6c757dff,
  #495057ff,
  #343a40ff,
  #212529ff);

  }

  .menu li {
    width: 100%;
    float: none;
    padding: 3% 7% 1% 7%;
    color: rgb(0, 0, 0);
    
  }
  .menu a {
    background-color: rgb(84, 136, 139);
    width: 100%;
    border-radius: 16px;
    border-color: rgb(0, 0, 0);
  }
  .form_login{
    width: 80%;
    left: 10%;
  }

  h2 {
    width: 45%;
    left: 27%;
  }
  footer {
    padding-bottom: 15%;
  }
  .foot_div {
    
    padding-left: 15%;
    text-align: left;
    float: left;
  }
  
}
.img_camisa{
  width: 30%;
  align-items: inherit;
  border: 40px;
  margin: auto;
  padding: 10px 10px 10px 10px;
  border-radius: 36px;
}

.img_pagamento{
  width: 60px;
  height: 45px;
  text-align: center;
}
.carousel-item active{
  color: red;
}
.div_container{
  padding: 20px 20px 20px 20px;
  
}

.img_frete{
  width: 30%;
  height: 30%;
  
}

.img_parcela{
  width: 50px;
  height: 41px;
  text-align: center;
}

.img_entrega{
  width: 30%;
  height: 80px;
  text-align: center;
}

iframe{
  width: 100%;
}

/* css produto*/
#lista-produtos{

  overflow:auto;
}
.container-produto{
  float: left;
    width: 33%;
    overflow: hidden;
    
    font-weight: bold;
    border-radius: 16px;
    padding: 10px 10px 10px 10px;
}
.carousel-control-next, .carousel-control-prev{
  top: 36%;
  height: 11%;
  z-index: 0;
}
.img_camisav{
  width: 100%;
  align-items: inherit;
  border: 40px;
  margin: auto;
  padding: 10px 10px 10px 10px;
  float:left;
  border-radius: 36px;
}

.logo{
  float: center;
  width: 300px;
  height: 10%;
}

form{
  width: 100%;
}

.form-group {
  padding-left: 10%;
  padding-right: 10%;
}

.outdiv{
  padding-left: 10%;
}

.sobre_loja{
  float: right;
  line-height: 16px;
  text-align: left;
  padding: 40px 60px 40px 60px;
  
  
}
.darkModeSwitch{
  padding: 4%;
}

.dark-mode{
  background: #222;
  color: #fff;

}
.dark-mode-login{
  color:#fff;
}
.dark-font{
  color: #fff;
  border-bottom-color: #fff;
  background-color:initial;
}

.custom-control {
  
  z-index: 0;
  
}